{% extends 'Base.html' %}
{% block title %}{{ post.title_tag }}{% endblock %}


{% block content %}
<h1> {{ post.title}}</h1>
<small>Published on: {{ post.post_date }}</small><br>
<small>Published By: {{ post.author.first_name}} {{post.author.last_name}} <br>
	Category of blog: <a href="{% url 'category' post.category|slugify %}">{{post.category}}</a><br> <a href="{% url 'Update_Post' post.pk %}">(Edit)</a><br></small><a href="{% url 'Delete_Post' post.pk %}">(Delete)</a></small>
<hr>
<br>
{{ post.body|safe }}

<br>
<a href="{% url 'Home' %}" class="btn btn-secondary">Back</a>
{% endblock %}