{% extends 'Base.html' %}

{% block content %}

<h1> Update Post.....</h1>

   {% if user.is_authenticated %}
   	{% if user.id == post.author.id %}
			<div class="'form-group">
				<form method="POST">
				{% csrf_token %}
				{{ form.as_p}}
				<button class="btn btn-dark">Update Post</button>
			</div>
		{% else %}
			You are not allow to update	
		  {% endif %}	
	{% else %}
	 You are not allow to update

    {% endif %}

<a href="{% url 'Home' %}" class="btn btn-secondary">Back</a>
    

{% endblock %}